.checkout-page-container {
  min-height: 100vh;
}

.checkout-page-checkoutpage {
  width: 100%;
  height: 1486px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}

.checkout-page-rectangle24 {
  top: 78px;
  left: 0px;
  width: 1366px;
  height: 69px;
  position: absolute;
  border-color: transparent;
}

.checkout-page-text {
  top: 91px;
  left: 329px;
  color: rgba(18, 38, 76, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Onyx;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.checkout-page-t-o-p-n-a-v {
  top: 4px;
  left: 58px;
  width: 1250px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}

.checkout-page-text02 {
  top: 19px;
  color: rgba(30, 30, 30, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.checkout-page-text04 {
  top: 19px;
  left: 267px;
  color: rgba(30, 30, 30, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.checkout-page-text06 {
  top: 19px;
  left: 775px;
  color: rgba(30, 30, 30, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.checkout-page-text08 {
  top: 19px;
  left: 889px;
  color: rgba(30, 30, 30, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.checkout-page-text10 {
  top: 19px;
  left: 1010px;
  color: rgba(30, 30, 30, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.checkout-page-text12 {
  top: 19px;
  left: 94px;
  color: rgba(30, 30, 30, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.checkout-page-text14 {
  left: 579px;
  color: rgba(27, 27, 27, 1);
  height: auto;
  position: absolute;
  font-size: 60px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Onyx;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.checkout-page-carbonuseravatarfilled {
  top: 18px;
  left: 1218px;
  width: 32px;
  height: 32px;
  position: absolute;
}

.checkout-page-footer {
  top: 1023px;
  left: 0px;
  width: 1366px;
  height: 463px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(207, 227, 242, 1);
}

.checkout-page-text16 {
  top: 156px;
  left: 154px;
  color: var(--dl-color-default-text4);
  width: 311px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-services-footer {
  top: 98px;
  left: 557px;
  width: 147px;
  height: 158px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.checkout-page-text18 {
  color: var(--dl-color-default-text3);
  width: 85px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-text20 {
  top: 38px;
  color: var(--dl-color-default-text2);
  width: 123px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-text22 {
  top: 69px;
  color: var(--dl-color-default-text2);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-text24 {
  top: 100px;
  color: var(--dl-color-default-text2);
  width: 111px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-text26 {
  top: 131px;
  color: var(--dl-color-default-text2);
  width: 124px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-company {
  top: 97px;
  left: 777px;
  width: 123px;
  height: 127px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.checkout-page-text28 {
  color: var(--dl-color-default-text3);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-text30 {
  top: 38px;
  color: var(--dl-color-default-text2);
  width: 123px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-text32 {
  top: 69px;
  color: var(--dl-color-default-text2);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-text34 {
  top: 100px;
  color: var(--dl-color-default-text2);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-get-help {
  top: 98px;
  left: 997px;
  width: 123px;
  height: 127px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.checkout-page-text36 {
  color: var(--dl-color-default-text3);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-text38 {
  top: 38px;
  color: var(--dl-color-default-text2);
  width: 123px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-text40 {
  top: 69px;
  color: var(--dl-color-default-text2);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-text42 {
  top: 100px;
  color: var(--dl-color-default-text2);
  width: 111px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-frame1150 {
  top: 431px;
  left: 573px;
  width: 220px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}

.checkout-page-text44 {
  color: var(--dl-color-default-text4);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 36px;
  margin-bottom: 0;
  text-decoration: none;
}

.checkout-page-text46 {
  color: var(--dl-color-default-text4);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 36px;
  margin-bottom: 0;
  text-decoration: none;
}

.checkout-page-text48 {
  color: var(--dl-color-default-text4);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.checkout-page-socail-media {
  top: 354px;
  left: 616px;
  width: 135px;
  height: 36px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.checkout-page-group3591 {
  top: 0px;
  left: 50px;
  width: 35px;
  height: 35px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.checkout-page-group3590 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.checkout-page-oval10 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  opacity: 0.10;
  position: absolute;
}

.checkout-page-vector {
  top: 9px;
  left: 11px;
  width: 14px;
  height: 17px;
  position: absolute;
}

.checkout-page-group3592 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.checkout-page-oval10copy3 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  opacity: 0.10;
  position: absolute;
}

.checkout-page-icon-lucide-icon {
  top: 7px;
  left: 8px;
  width: 20px;
  height: 20px;
  position: absolute;
}

/* .checkout-page-ellipse49 {
  top: 2px;
  left: 101px;
  width: 34px;
  height: 34px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(186, 204, 218, 1);
  border-style: solid;
  border-width: 1.5px;
} */

.checkout-page-bxlgmail {
  top: 9px;
  left: 108px;
  width: 20px;
  height: 20px;
  position: absolute;
}

.checkout-page-payments {
  top: 235px;
  left: 154px;
  width: 268px;
  height: 42.00187301635742px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.checkout-page-vector1 {
  top: 0px;
  left: 141px;
  width: 53px;
  height: 42px;
  position: absolute;
}

.checkout-page-cibccpaypal {
  top: 0px;
  left: 0px;
  width: 53px;
  height: 42px;
  position: absolute;
}

.checkout-page-vector2 {
  top: 6.22802734375px;
  left: 74.001953125px;
  width: 46px;
  height: 22px;
  position: absolute;
}

.checkout-page-vector3 {
  top: 6px;
  left: 215px;
  width: 53px;
  height: 22px;
  position: absolute;
}

.checkout-page-text50 {
  top: 80px;
  left: 154px;
  color: var(--dl-color-default-text1);
  height: auto;
  position: absolute;
  font-size: 60px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Onyx;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-dayflow-plant {
  top: 96px;
  left: 1236px;
  width: 48px;
  height: 51px;
  position: absolute;
  border-color: transparent;
}

.checkout-page-rectangle25 {
  top: 868px;
  left: 0px;
  width: 1366px;
  height: 155px;
  position: absolute;
  border-color: transparent;
}

.checkout-page-text52 {
  top: 929px;
  left: 248px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 165.9999966621399%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.checkout-page-text53 {
  text-decoration: NONE;
}

.checkout-page-text54 {
  text-decoration: UNDERLINE;
}

.checkout-page-text56 {
  top: 96px;
  left: 58px;
  color: rgba(18, 38, 76, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Onyx;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.checkout-page-text58 {
  top: 96px;
  left: 185px;
  color: rgba(18, 38, 76, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Onyx;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.checkout-page-productchecklist {
  top: 212px;
  left: 58px;
  width: 1238px;
  height: 572px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.checkout-page-rectangle414 {
  top: 0px;
  left: 650px;
  width: 588px;
  height: 572px;
  position: absolute;
  border-color: transparent;
}

.checkout-page-addressdetails {
  top: 0px;
  left: 0px;
  width: 588px;
  height: 572px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}

.checkout-page-text60 {
  top: 62px;
  left: 36px;
  color: rgba(136, 135, 135, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-text62 {
  top: 184px;
  left: 36px;
  color: rgba(136, 135, 135, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-text64 {
  top: 300px;
  left: 36px;
  color: rgba(136, 135, 135, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-inputnameoutput {
  top: 48px;
  left: 277px;
  width: 171px;
  height: 50px;
  position: absolute;
  border-color: transparent;
}

.checkout-page-text66 {
  top: 98px;
  left: 62px;
  color: rgba(38, 38, 38, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-text68 {
  top: 185px;
  left: 64px;
  color: rgba(38, 38, 38, 1);
  width: 372px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-text70 {
  top: 98px;
  left: 222px;
  color: rgba(38, 38, 38, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-text72 {
  top: 192px;
  left: 284px;
  color: rgba(38, 38, 38, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-rectanglename {
  top: 0px;
  left: -2px;
  width: 200px;
  height: 50px;
  position: absolute;
  border-color: transparent;
  background: rgb(242, 241, 255);
  font-size: 14px;
  font-family: poppins;
  border: rgb(118, 116, 242) 2px solid;
  padding-left: 20px;
  border-radius: 4px;
}

.checkout-page-rectanglenumber {
  top: 0px;
  left: 78px;
  width: 200px;
  height: 50px;
  position: absolute;
  border-color: transparent;
  background: rgb(242, 241, 255);
  font-size: 14px;
  font-family: poppins;
  border: rgb(118, 116, 242) 2px solid;
  padding-left: 20px;
  border-radius: 4px;
}

.checkout-page-rectangleadd {
  top: 34px;
  left: -4px;
  width: 440px;
  height: 50px;
  position: absolute;
  border-color: transparent;
  background: rgb(242, 241, 255);
  font-size: 14px;
  font-family: poppins;
  border: rgb(118, 116, 242) 2px solid;
  padding-left: 20px;
  border-radius: 4px;
}

.checkout-page-rectangle416 {
  top: 334px;
  left: 62px;
  width: 314px;
  height: 64px;
  position: absolute;
  border-color: transparent;
  background: rgb(168, 165, 237);
  font-size: 18px;
  font-family: poppins;
  border: rgb(121, 116, 238) 2px solid;
  padding-left: 20px;
  border-radius: 4px;
}

option {
  font-size: 16px;
  background: rgb(210, 209, 243);
  border: rgb(121, 116, 238) 2px solid;
}

.checkout-page-text74 {
  top: 296px;
  left: 357px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-text75 {
  top: 122px;
  left: 781px;
  color: rgba(39, 39, 39, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 154.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-text77 {
  top: 122px;
  left: 706px;
  color: rgba(128, 126, 126, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 154.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-text79 {
  top: 286px;
  left: 710px;
  color: rgba(128, 126, 126, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 154.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-text81 {
  top: 350px;
  left: 711px;
  color: rgba(128, 126, 126, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 154.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-text83 {
  top: 169px;
  left: 706px;
  color: rgba(52, 52, 52, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-text85 {
  top: 286px;
  left: 1065px;
  color: rgba(52, 52, 52, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-text87 {
  top: 347px;
  left: 1065px;
  color: rgba(52, 52, 52, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-text89 {
  top: 435px;
  left: 1033px;
  color: rgba(52, 52, 52, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-text91 {
  top: 169px;
  left: 815px;
  color: rgba(126, 126, 126, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-text93 {
  top: 69px;
  left: 706px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-text95 {
  top: 435px;
  left: 715px;
  color: rgba(35, 35, 35, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.checkout-page-onepluscamonavy {
  top: 55px;
  left: 1054px;
  width: 75px;
  height: 164px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}

.checkout-page-onepuscampblack {
  top: 42px;
  left: 1096px;
  width: 87px;
  height: 191px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}

.checkout-page-buy-now-b-t-n {
  top: 636px;
  left: 112px;
  width: 221.00047302246094px;
  height: 65.4159927368164px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.checkout-page-rectangle251 {
  top: 60px;
  left: 6.1884765625px;
  width: 215px;
  height: 58px;
  position: absolute;
  border-color: transparent;
}

.checkout-page-rectangle26 {
  top: 50px;
  left: 0px;
  width: 215px;
  height: 58px;
  position: absolute;
  border-color: transparent;
}

.checkout-page-text97 {
  top: 64px;
  left: 30px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}