.contact-container {
  min-height: 100vh;
}

.contact-contact {
  width: 100%;
  height: 3087px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}

.contact-rectangle25 {
  top: 1950px;
  left: -277px;
  width: 1920px;
  height: 674px;
  position: absolute;
  border-color: transparent;
}

.contact-rectangle24 {
  top: 84px;
  left: -277px;
  width: 1920px;
  height: 682px;
  position: absolute;
  border-color: transparent;
}

.contact-t-o-p-n-a-v {
  top: 10px;
  left: 58px;
  width: 1250px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}

.contact-text {
  top: 19px;
  color: rgba(30, 30, 30, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.contact-text02 {
  top: 19px;
  left: 267px;
  color: rgba(30, 30, 30, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.contact-text04 {
  top: 19px;
  left: 775px;
  color: rgba(30, 30, 30, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.contact-text06 {
  top: 19px;
  left: 889px;
  color: rgba(30, 30, 30, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.contact-text08 {
  top: 19px;
  left: 1010px;
  color: rgba(30, 30, 30, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.contact-text10 {
  top: 19px;
  left: 94px;
  color: rgba(30, 30, 30, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.contact-text12 {
  top: 1px;
  left: 588px;
  color: rgba(27, 27, 27, 1);
  height: auto;
  position: absolute;
  font-size: 60px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Onyx;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.contact-carbonuseravatarfilled {
  top: 18px;
  left: 1218px;
  width: 32px;
  height: 32px;
  position: absolute;
}

.contact-text14 {
  top: 284px;
  left: 113px;
  color: rgba(14, 21, 58, 1);
  width: 378px;
  height: auto;
  position: absolute;
  font-size: 89px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Perpetua Titling MT;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.contact-text16 {
  top: 223px;
  left: 869px;
  color: rgba(18, 38, 76, 1);
  height: auto;
  position: absolute;
  font-size: 84px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Onyx;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.contact-text18 {
  top: 359px;
  left: 719px;
  color: var(--dl-color-default-text2);
  width: 456px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.contact-text20 {
  top: 439px;
  left: 682px;
  color: rgba(0, 0, 0, 1);
  width: 529px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 39px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.contact-text21 {
  font-weight: 400;
}

.contact-cool-kids-select {
  top: 422px;
  left: 372px;
  width: 67px;
  height: 64px;
  position: absolute;
  border-color: transparent;
}

.contact-rectangle7 {
  top: 818px;
  left: 63px;
  width: 1240px;
  height: 1012px;
  position: absolute;
  border-color: transparent;
}

.contact-text26 {
  top: 956px;
  left: 462px;
  color: rgba(0, 0, 0, 1);
  width: 443px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.contact-text28 {
  top: 1089px;
  left: 174px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.contact-text30 {
  top: 1244px;
  left: 174px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.contact-text32 {
  top: 1391px;
  left: 174px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.contact-text34 {
  top: 1244px;
  left: 698px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.contact-text36 {
  top: 1089px;
  left: 698px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.contact-text38 {
  top: 846px;
  left: 520px;
  color: rgba(18, 38, 76, 1);
  height: auto;
  position: absolute;
  font-size: 84px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Onyx;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.contact-samsungpink {
  top: 163.7216796875px;
  left: 1240.26123046875px;
  width: 176px;
  height: 370px;
  position: absolute;
  border-color: transparent;
  border-radius: 22px;
}

.contact-rectangle407 {
  top: 1127px;
  left: 174px;
  width: 470px;
  height: 96px;
  position: absolute;
  border-color: transparent;
  border-radius: 4px;
  font-family: Poppins;
  padding-left: 2%;
  font-size: 4vh;
}

.contact-rectangle407:hover {
  background-color: rgb(215, 206, 240);
}

.contact-rectangle408 {
  top: 1127px;
  left: 698px;
  width: 476px;
  height: 96px;
  position: absolute;
  border-color: transparent;
  border-radius: 4px;
  font-family: Poppins;
  padding-left: 2%;
  font-size: 4vh;
}

.contact-rectangle408:hover {
  background-color: rgb(209, 194, 255);
}

.contact-rectangle409 {
  top: 1279px;
  left: 175px;
  width: 470px;
  height: 94px;
  position: absolute;
  border-color: transparent;
  border-radius: 4px;
  font-family: Poppins;
  padding-left: 2%;
  font-size: 4vh;
}

.contact-rectangle409:hover {
  background-color: rgb(209, 194, 255);
}

.contact-rectangle411 {
  top: 1429px;
  left: 174px;
  width: 864px;
  height: 98px;
  position: absolute;
  border-color: transparent;
  border-radius: 4px;
  font-family: Poppins;
  padding: 6%;
  font-size: 4vh;
}

.contact-rectangle411:hover {
  background-color: rgb(215, 206, 240);
}

.contact-rectangle410 {
  top: 1278px;
  left: 698px;
  width: 474px;
  height: 96px;
  position: absolute;
  border-color: transparent;
  border-radius: 4px;
  font-family: Poppins;
  padding-left: 2%;
  font-size: 4vh;
}

.contact-rectangle410:hover {
  background-color: rgb(215, 206, 240);
}

.contact-b-t-n2 {
  top: 1729px;
  left: 593px;
  width: 180px;
  height: 71px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.contact-rectangle251 {
  top: 8px;
  left: 5px;
  width: 175px;
  height: 63px;
  position: absolute;
  border-color: transparent;
}

.contact-rectangle26 {
  top: 0px;
  left: 0px;
  width: 175px;
  height: 63px;
  position: absolute;
  border-color: transparent;
}

.contact-rectangle26:hover {
  cursor: pointer;
  box-shadow: rgb(104, 104, 104) 8px 8px 15px;
}

.contact-text40 {
  top: 14px;
  left: 57px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.contact-text40:hover {
  cursor: pointer;
  color: rgb(182, 179, 216);
}

.contact-dayflow-plant {
  top: 670px;
  left: 63px;
  width: 91px;
  height: 96px;
  position: absolute;
  border-color: transparent;
}

.contact-frame16 {
  top: 2096px;
  left: 186px;
  width: 475px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}

.contact-text42 {
  top: 2021px;
  left: 446px;
  color: var(--dl-color-default-headtext1);
  height: auto;
  position: absolute;
  font-size: 84px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Onyx;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.contact-text44 {
  top: 2141px;
  left: 442px;
  color: var(--dl-color-default-text2);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.contact-accordion {
  top: 2236px;
  left: 248px;
  width: 866px;
  display: flex;
  padding: 20px 15px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  background-color: var(--dl-color-default-primary2);
}

.contact-icon-feather-icon {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 16px;
}

.contact-text46 {
  color: var(--dl-color-default-text1);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.contact-component2 {
  top: 2322px;
  left: 248px;
  width: 866px;
  display: flex;
  padding: 20px 15px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-default-primary2);
}

.contact-frame1131 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 24px;
}

.contact-icon-feather-icon1 {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 16px;
}

.contact-text48 {
  color: var(--dl-color-default-text1);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.contact-frame1132 {
  display: flex;
  padding: 0 0 0 60px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}

.contact-frame1133 {
  display: flex;
  padding: 0 0 0 10px;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  border-color: transparent;
  background-color: var(--dl-color-default-primary2);
}

.contact-text50 {
  color: rgba(55, 61, 64, 1);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.contact-footer {
  top: 2624px;
  left: 0px;
  width: 1366px;
  height: 463px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(207, 227, 242, 1);
}

.contact-text55 {
  top: 156px;
  left: 154px;
  color: var(--dl-color-default-text4);
  width: 311px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.contact-services-footer {
  top: 98px;
  left: 557px;
  width: 147px;
  height: 158px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.contact-text57 {
  color: var(--dl-color-default-text3);
  width: 85px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.contact-text59 {
  top: 38px;
  color: var(--dl-color-default-text2);
  width: 123px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.contact-text61 {
  top: 69px;
  color: var(--dl-color-default-text2);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.contact-text63 {
  top: 100px;
  color: var(--dl-color-default-text2);
  width: 111px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.contact-text65 {
  top: 131px;
  color: var(--dl-color-default-text2);
  width: 124px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.contact-company {
  top: 97px;
  left: 777px;
  width: 123px;
  height: 127px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.contact-text67 {
  color: var(--dl-color-default-text3);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.contact-text69 {
  top: 38px;
  color: var(--dl-color-default-text2);
  width: 123px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.contact-text71 {
  top: 69px;
  color: var(--dl-color-default-text2);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.contact-text73 {
  top: 100px;
  color: var(--dl-color-default-text2);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.contact-get-help {
  top: 98px;
  left: 997px;
  width: 123px;
  height: 127px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.contact-text75 {
  color: var(--dl-color-default-text3);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.contact-text77 {
  top: 38px;
  color: var(--dl-color-default-text2);
  width: 123px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.contact-text79 {
  top: 69px;
  color: var(--dl-color-default-text2);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.contact-text81 {
  top: 100px;
  color: var(--dl-color-default-text2);
  width: 111px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.contact-frame1150 {
  top: 431px;
  left: 573px;
  width: 220px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}

.contact-text83 {
  color: var(--dl-color-default-text4);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 36px;
  margin-bottom: 0;
  text-decoration: none;
}

.contact-text85 {
  color: var(--dl-color-default-text4);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 36px;
  margin-bottom: 0;
  text-decoration: none;
}

.contact-text87 {
  color: var(--dl-color-default-text4);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.contact-socail-media {
  top: 354px;
  left: 616px;
  width: 135px;
  height: 36px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.contact-group3591 {
  top: 0px;
  left: 50px;
  width: 35px;
  height: 35px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.contact-group3590 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.contact-oval10 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  opacity: 0.10;
  position: absolute;
}

.contact-vector {
  top: 9px;
  left: 11px;
  width: 14px;
  height: 17px;
  position: absolute;
}

.contact-group3592 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.contact-oval10copy3 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  opacity: 0.10;
  position: absolute;
}

.contact-icon-lucide-icon {
  top: 7px;
  left: 8px;
  width: 20px;
  height: 20px;
  position: absolute;
}

/* .contact-ellipse49 {
  top: 2px;
  left: 101px;
  width: 34px;
  height: 34px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(186, 204, 218, 1);
  border-style: solid;
  border-width: 1.5px;
} */
.contact-bxlgmail {
  top: 9px;
  left: 108px;
  width: 20px;
  height: 20px;
  position: absolute;
}

.contact-payments {
  top: 235px;
  left: 154px;
  width: 268px;
  height: 42.00187301635742px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.contact-vector1 {
  top: 0px;
  left: 141px;
  width: 53px;
  height: 42px;
  position: absolute;
}

.contact-cibccpaypal {
  top: 0px;
  left: 0px;
  width: 53px;
  height: 42px;
  position: absolute;
}

.contact-vector2 {
  top: 6.22802734375px;
  left: 74.001953125px;
  width: 46px;
  height: 22px;
  position: absolute;
}

.contact-vector3 {
  top: 6px;
  left: 215px;
  width: 53px;
  height: 22px;
  position: absolute;
}

.contact-text89 {
  top: 80px;
  left: 154px;
  color: var(--dl-color-default-text1);
  height: auto;
  position: absolute;
  font-size: 60px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Onyx;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}