.products-container {
  min-height: 100vh;
}

.products-products {
  width: 100%;
  height: 2864px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}

.products-rectangle24 {
  top: 78px;
  left: 0px;
  width: 1366px;
  height: 230px;
  position: absolute;
  border-color: transparent;
}

.products-text {
  top: 153px;
  left: 310px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Light;
  text-align: center;
  font-family: Perpetua Titling MT;
  font-weight: 300;
  line-height: 163.99999856948853%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.products-t-o-p-n-a-v {
  top: 4px;
  left: 58px;
  width: 1250px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}

.products-text002 {
  top: 19px;
  color: rgba(30, 30, 30, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.products-text004 {
  top: 19px;
  left: 267px;
  color: rgba(30, 30, 30, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.products-text006 {
  top: 19px;
  left: 775px;
  color: rgba(30, 30, 30, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.products-text008 {
  top: 19px;
  left: 889px;
  color: rgba(30, 30, 30, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.products-text010 {
  top: 19px;
  left: 1010px;
  color: rgba(30, 30, 30, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.products-text012 {
  top: 19px;
  left: 94px;
  color: rgba(30, 30, 30, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.products-text014 {
  left: 579px;
  color: rgba(27, 27, 27, 1);
  height: auto;
  position: absolute;
  font-size: 60px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Onyx;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.products-carbonuseravatarfilled {
  top: 18px;
  left: 1218px;
  width: 32px;
  height: 32px;
  position: absolute;
}

.products-footer {
  top: 2121px;
  left: 0px;
  width: 1366px;
  height: 743px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.products-text016 {
  left: 455px;
  color: rgba(156, 156, 156, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-rectangle406 {
  top: 280px;
  left: 0px;
  width: 1366px;
  height: 463px;
  position: absolute;
  border-color: transparent;
}

.products-text018 {
  top: 436px;
  left: 154px;
  color: var(--dl-color-default-text4);
  width: 311px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-services-footer {
  top: 378px;
  left: 557px;
  width: 147px;
  height: 158px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.products-text020 {
  color: var(--dl-color-default-text3);
  width: 85px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-text022 {
  top: 38px;
  color: var(--dl-color-default-text2);
  width: 123px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-text024 {
  top: 69px;
  color: var(--dl-color-default-text2);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-text026 {
  top: 100px;
  color: var(--dl-color-default-text2);
  width: 111px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-text028 {
  top: 131px;
  color: var(--dl-color-default-text2);
  width: 124px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-company {
  top: 377px;
  left: 777px;
  width: 123px;
  height: 127px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.products-text030 {
  color: var(--dl-color-default-text3);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-text032 {
  top: 38px;
  color: var(--dl-color-default-text2);
  width: 123px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-text034 {
  top: 69px;
  color: var(--dl-color-default-text2);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-text036 {
  top: 100px;
  color: var(--dl-color-default-text2);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-get-help {
  top: 378px;
  left: 997px;
  width: 123px;
  height: 127px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.products-text038 {
  color: var(--dl-color-default-text3);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-text040 {
  top: 38px;
  color: var(--dl-color-default-text2);
  width: 123px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-text042 {
  top: 69px;
  color: var(--dl-color-default-text2);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-text044 {
  top: 100px;
  color: var(--dl-color-default-text2);
  width: 111px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-frame1150 {
  top: 711px;
  left: 573px;
  width: 220px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}

.products-text046 {
  color: var(--dl-color-default-text4);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 36px;
  margin-bottom: 0;
  text-decoration: none;
}

.products-text048 {
  color: var(--dl-color-default-text4);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 36px;
  margin-bottom: 0;
  text-decoration: none;
}

.products-text050 {
  color: var(--dl-color-default-text4);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.products-socail-media {
  top: 634px;
  left: 616px;
  width: 135px;
  height: 36px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.products-group3591 {
  top: 0px;
  left: 50px;
  width: 35px;
  height: 35px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.products-group3590 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.products-oval10 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  opacity: 0.10;
  position: absolute;
}

.products-vector {
  top: 9px;
  left: 11px;
  width: 14px;
  height: 17px;
  position: absolute;
}

.products-group3592 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.products-oval10copy3 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  opacity: 0.10;
  position: absolute;
}

.products-icon-lucide-icon {
  top: 7px;
  left: 8px;
  width: 20px;
  height: 20px;
  position: absolute;
}

/* .products-ellipse49 {
  top: 2px;
  left: 101px;
  width: 34px;
  height: 34px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(186, 204, 218, 1);
  border-style: solid;
  border-width: 1.5px;
} */
.products-bxlgmail {
  top: 9px;
  left: 108px;
  width: 20px;
  height: 20px;
  position: absolute;
}

.products-payments {
  top: 515px;
  left: 154px;
  width: 268px;
  height: 42.00187301635742px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.products-vector1 {
  top: 0px;
  left: 141px;
  width: 53px;
  height: 42px;
  position: absolute;
}

.products-cibccpaypal {
  top: 0px;
  left: 0px;
  width: 53px;
  height: 42px;
  position: absolute;
}

.products-vector2 {
  top: 6.22802734375px;
  left: 74.001953125px;
  width: 46px;
  height: 22px;
  position: absolute;
}

.products-vector3 {
  top: 6px;
  left: 215px;
  width: 53px;
  height: 22px;
  position: absolute;
}

.products-text052 {
  top: 360px;
  left: 154px;
  color: var(--dl-color-default-text1);
  height: auto;
  position: absolute;
  font-size: 60px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Onyx;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-dayflow-plant {
  top: 240px;
  left: 70px;
  width: 53px;
  height: 68px;
  position: absolute;
  border-color: transparent;
}

.products-dayflow-plant1 {
  top: 240px;
  left: 1237px;
  width: 59px;
  height: 68px;
  position: absolute;
  border-color: transparent;
}

.products-rectangle25 {
  top: 2172px;
  left: 0px;
  width: 1366px;
  height: 229px;
  position: absolute;
  border-color: transparent;
}

.products-text054 {
  top: 2246px;
  left: 84px;
  color: rgba(0, 0, 0, 1);
  width: 1198px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 165.9999966621399%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.products-iphones {
  top: 364px;
  left: 81px;
  width: 1211px;
  height: 529px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.products-text056 {
  left: 391px;
  color: rgba(18, 38, 76, 1);
  height: auto;
  position: absolute;
  font-size: 84px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Onyx;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-rectangle12 {
  top: 130px;
  left: 0px;
  width: 286px;
  height: 399px;
  position: absolute;
  box-sizing: content-box;
  border-color: transparent;
  border-radius: 4px;
}

.products-rectangle13 {
  top: 130px;
  left: 309px;
  width: 285px;
  height: 399px;
  position: absolute;
  border-color: transparent;
  border-radius: 4px;
}

.products-rectangle14 {
  top: 130px;
  left: 617px;
  width: 285px;
  height: 399px;
  position: absolute;
  border-color: transparent;
}

.products-rectangle15 {
  top: 130px;
  left: 925px;
  width: 286px;
  height: 399px;
  position: absolute;
  border-color: transparent;
}

.products-text058 {
  top: 466px;
  left: 52px;
  color: rgba(23, 23, 23, 1);
  width: 159px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-text060 {
  top: 468px;
  left: 395px;
  color: rgba(23, 23, 23, 1);
  width: 114px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-text062 {
  top: 466px;
  left: 717px;
  color: rgba(23, 23, 23, 1);
  width: 111px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-text064 {
  top: 466px;
  left: 1019px;
  color: rgba(23, 23, 23, 1);
  width: 117px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-text066 {
  top: 430px;
  left: 102px;
  color: var(--dl-color-default-text2);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-text068 {
  top: 432px;
  left: 422px;
  color: var(--dl-color-default-text2);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-text070 {
  top: 430px;
  left: 737px;
  color: var(--dl-color-default-text2);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-text072 {
  top: 430px;
  left: 1048px;
  color: var(--dl-color-default-text2);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-image18 {
  top: 182px;
  left: 995px;
  width: 146px;
  height: 220px;
  position: absolute;
  border-color: transparent;
  border-radius: 6px;
}

.products-image19 {
  top: 182px;
  left: 685px;
  width: 150px;
  height: 220px;
  position: absolute;
  border-color: transparent;
  border-radius: 16px;
}

.products-image20 {
  top: 183px;
  left: 377px;
  width: 150px;
  height: 219px;
  position: absolute;
  border-color: transparent;
  border-radius: 18px;
}

.products-image21 {
  top: 183px;
  left: 55px;
  width: 160px;
  height: 219px;
  position: absolute;
  border-color: transparent;
  border-radius: 17px;
}

.products-iphones1 {
  top: 1534px;
  left: 78px;
  width: 1211px;
  height: 529px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.products-text074 {
  left: 382px;
  color: rgba(18, 38, 76, 1);
  height: auto;
  position: absolute;
  font-size: 84px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Onyx;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-rectangle121 {
  top: 130px;
  left: 0px;
  width: 286px;
  height: 399px;
  position: absolute;
  box-sizing: content-box;
  border-color: transparent;
  border-radius: 4px;
}

.products-rectangle131 {
  top: 130px;
  left: 309px;
  width: 285px;
  height: 399px;
  position: absolute;
  border-color: transparent;
  border-radius: 4px;
}

.products-rectangle141 {
  top: 130px;
  left: 617px;
  width: 285px;
  height: 399px;
  position: absolute;
  border-color: transparent;
}

.products-rectangle151 {
  top: 130px;
  left: 925px;
  width: 286px;
  height: 399px;
  position: absolute;
  border-color: transparent;
}

.products-text076 {
  top: 464px;
  left: 100px;
  color: rgba(23, 23, 23, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-text078 {
  top: 464px;
  left: 429px;
  color: rgba(23, 23, 23, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-text080 {
  top: 464px;
  left: 738px;
  color: rgba(23, 23, 23, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-text082 {
  top: 464px;
  left: 1068px;
  color: rgba(23, 23, 23, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-text084 {
  top: 430px;
  left: 91px;
  color: var(--dl-color-default-text2);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-text086 {
  top: 432px;
  left: 411px;
  color: var(--dl-color-default-text2);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-text088 {
  top: 430px;
  left: 726px;
  color: var(--dl-color-default-text2);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-text090 {
  top: 430px;
  left: 1037px;
  color: var(--dl-color-default-text2);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-google {
  top: 949px;
  left: 232px;
  width: 902px;
  height: 529px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.products-text092 {
  left: 185px;
  color: rgba(18, 38, 76, 1);
  height: auto;
  position: absolute;
  font-size: 84px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Onyx;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-rectangle122 {
  top: 130px;
  left: 0px;
  width: 286px;
  height: 399px;
  position: absolute;
  box-sizing: content-box;
  border-color: transparent;
  border-radius: 4px;
}

.products-rectangle132 {
  top: 130px;
  left: 309px;
  width: 285px;
  height: 399px;
  position: absolute;
  border-color: transparent;
  border-radius: 4px;
}

.products-rectangle142 {
  top: 130px;
  left: 617px;
  width: 285px;
  height: 399px;
  position: absolute;
  border-color: transparent;
}

.products-text094 {
  top: 463px;
  left: 76px;
  color: rgba(23, 23, 23, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-text096 {
  top: 465px;
  left: 414px;
  color: rgba(23, 23, 23, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-text098 {
  top: 463px;
  left: 720px;
  color: rgba(23, 23, 23, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-text100 {
  top: 429px;
  left: 95px;
  color: var(--dl-color-default-text2);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-text102 {
  top: 431px;
  left: 415px;
  color: var(--dl-color-default-text2);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-text104 {
  top: 429px;
  left: 730px;
  color: var(--dl-color-default-text2);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.products-pixel7pro {
  top: 203px;
  left: 51px;
  width: 160px;
  height: 199px;
  position: absolute;
  border-color: transparent;
  border-radius: 8px;
}

.products-pixel7 {
  top: 204px;
  left: 373px;
  width: 156px;
  height: 198px;
  position: absolute;
  border-color: transparent;
  border-radius: 5px;
}

.products-pixel6a {
  top: 203px;
  left: 684px;
  width: 163px;
  height: 199px;
  position: absolute;
  border-color: transparent;
  border-radius: 6px;
}

.products-image12 {
  top: 1738px;
  left: 1073px;
  width: 165px;
  height: 198px;
  position: absolute;
  border-color: transparent;
  border-radius: 9px;
}

.products-image11 {
  top: 1738px;
  left: 756px;
  width: 164px;
  height: 198px;
  position: absolute;
  border-color: transparent;
  border-radius: 6px;
}

.products-image14 {
  top: 1739px;
  left: 447px;
  width: 166px;
  height: 197px;
  position: absolute;
  border-color: transparent;
  border-radius: 8px;
}

.products-image13 {
  top: 1737px;
  left: 129px;
  width: 165px;
  height: 199px;
  position: absolute;
  border-color: transparent;
  border-radius: 8px;
}