<!DOCTYPE html>
<html lang="en">

<head>
  <title>DOT | Sign Up </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <meta property="twitter:card" content="summary_large_image" />

  <!-- Style -->
  <style data-tag="default-style-sheet">
    body {
      font-weight: 400;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
      letter-spacing: normal;
      line-height: 1.15;
    }
  </style>
  <link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
  data-tag="font" />
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
  data-tag="font" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" />  
  <!-- JavaScript -->
  <script>
    function pop() {
      alert('Logged In Successfully!');
      window.location.href = './homepage'
    }
  </script>
</head>

<body>
  <div>

    <div class="login-page-container">
      <div class="login-page-login-page">
        <img src="../static/playground_assets/rectangle241331-tfei-1800w.png" alt="Rectangle241331"
          class="login-page-rectangle24" id="l-p-r24" />
        <div class="login-page-t-o-p-n-a-v">
          <span class="login-page-text"><span><a href="./homepage">Home</a></span></span>
          <span class="login-page-text02">
            <span><a href="./products">Skins &amp; Cases</a></span>
          </span>
          <span class="login-page-text04"><span><a href="./contact">Contact</a></span></span>
          <span class="login-page-text06"><span><a href="./aboutus">About
                Us</a></span></span>
          <span class="login-page-text08"><span><a href="./homepage#S-Ed">Special
                Edition</a></span></span>
          <span class="login-page-text10"><span><a style="text-decoration: none;"
                href="./homepage">DOT.</a></span></span>
          <div class="login-page-b-t-n2">
            <img src="../static/playground_assets/rectangle251401-jkgh-200h.png" alt="Rectangle251401"
              class="login-page-rectangle25" />
            <img src="../static/playground_assets/rectangle261401-hjhm-200h.png" alt="Rectangle261401"
              class="login-page-rectangle26" />
            <span class="login-page-text12"><span><a style="color:white; text-decoration: none;" href="./login">&nbsp;&nbsp;&nbsp;&nbsp;Log In</a></span></span>
          </div>
        </div>
        <img src="../static/playground_assets/coolkidsselect1331-fu78-200h.png" alt="CoolKidsSelect1331"
          class="login-page-cool-kids-select" />
        <img src="../static/playground_assets/dayflowplant1331-e7bu-200w.png" alt="DayflowPlant1331"
          class="login-page-dayflow-plant" />
        <span class="login-page-text14">
          <span>More than Just Some Fancy Graphics !</span>
        </span>
        <span class="login-page-text16"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome</span></span>
        <span class="login-page-text18">
          <span>Join our community now !! Sign up now.</span>
        </span>
        <img src="../static/playground_assets/rectangle251331-r81r-300h.png" alt="Rectangle251331"
          class="login-page-rectangle251" />
        <span class="login-page-text20">
          <span class="login-page-text21">
            DOT skins and Cases is Semester Project created by
          </span>
          <span class="login-page-text22"><a style="box-shadow: none;" href="https://linktr.ee/SannketNikam">Sanket
              Nikam</a></span>
          <span class="login-page-text23">and</span>
          <span class="login-page-text22"><a style="box-shadow: none;" href="https://linktr.ee/AtharshB">Atharsh
              Bodke.</a></span>
        </span>
        <span class="login-page-text25"><span id="team">Our Team</span></span>
        <div class="login-page-footer">
          <span class="login-page-text27">
            <span>
              Looking to find out more? Join our Team now. Get in touch with
              us.
            </span>
          </span>
          <div class="login-page-services-footer">
            <span class="login-page-text29"><span>Product</span></span>
            <span class="login-page-text31">
              <span><a style="box-shadow: none" href="./products">Skin &amp; Cases</a></span>
            </span>
            <span class="login-page-text33"><span><a style="box-shadow: none"
                  href="./iphonedetails">iPhone</a></span></span>
            <span class="login-page-text35"><span><a style="box-shadow: none"
                  href="./googledetails">Google</a></span></span>
            <span class="login-page-text37  "><span><a style="box-shadow: none" href="./oneplusdetails">One
                  Plus</a></span></span>
          </div>
          <div class="login-page-company">
            <span class="login-page-text41"><span><a style="box-shadow: none" href="./contact#faq">FAQ</a></span></span>
            <span class="login-page-text39"><span>Contact</span></span>
            <span class="login-page-text43"><span><a style="box-shadow: none"
                  href="./login">Login</a></span></span>
            <span class="login-page-text45"><span><a style="box-shadow: none"
                  href="./sign_up#l-p-r24">Sign Up</a></span></span>
          </div>
          <div class="login-page-get-help">
            <span class="login-page-text47"><span>Pages</span></span>
            <span class="login-page-text49"><span><a style="box-shadow: none" href="./homepage">Home</a></span></span>
            <span class="login-page-text51"><span><a style="box-shadow: none" href="./aboutus">About
                  Us</a></span></span>
            <span class="login-page-text53"><span><a style="box-shadow: none"
                  href="./contact#c-r7">Contact</a></span></span>
          </div>
          <div class="login-page-frame1150">
            <span class="login-page-text55"><span>Terms</span></span>
            <span class="login-page-text57"><span>Privacy</span></span>
            <span class="login-page-text59"><span>Cookies</span></span>
          </div>
          <div class="login-page-socail-media">
            <div class="login-page-group3591">
              <div class="login-page-group3590">
                <img src="../static/playground_assets/oval101331-ql8.svg" alt="Oval101331" class="login-page-oval10" />
                <a href="https://github.com/SannketNikam/DOT-Skins-and-Cases"><img
                    src="../static/playground_assets/vector1331-psop.svg" alt="Vector1331"
                    class="login-page-vector" /></a>
              </div>
            </div>
            <div class="login-page-group3592">
              <img src="../static/playground_assets/oval10copy31331-sza.svg" alt="Oval10Copy31331"
                class="login-page-oval10copy3" />
              <img src="../static/playground_assets/iconlucideicon1331-jv9l.svg" alt="IconLucideIcon1331"
                class="login-page-icon-lucide-icon" />
            </div>
            <img src="../static/playground_assets/ellipse491331-tbnm-200h.png" alt="Ellipse491331"
              class="login-page-ellipse49" />
            <img src="../static/playground_assets/ellipse491172-xput-200h.png" alt="Ellipse491172"
              class="index-ellipse49" />
            <img src="../static/playground_assets/bxlgmail1331-g46.svg" alt="bxlgmail1331"
              class="login-page-bxlgmail" />
          </div>
          <div class="login-page-payments">
            <img src="../static/playground_assets/vector1331-skq8.svg" alt="Vector1331" class="login-page-vector1" />
            <img src="../static/playground_assets/cibccpaypal1331-q4ej.svg" alt="cibccpaypal1331"
              class="login-page-cibccpaypal" />
            <img src="../static/playground_assets/vector1331-noxs.svg" alt="Vector1331" class="login-page-vector2" />
            <img src="../static/playground_assets/vector1331-2j4.svg" alt="Vector1331" class="login-page-vector3" />
          </div>
          <span class="login-page-text61"><span><a style="text-decoration: none"
                href="./homepage">DOT.</a></span></span>
        </div>
        <form action="{{ url_for('homepage') }}" method="POST" enctype="multipart/form-data">
          <label><span class="login-page-text63"><span>Full Name</span></span></label>
          <input class="login-page-rectangle409" type="text" name="fullname" title="fullname" required/>
          <label><span class="login-page-text67"><span>Email</span></span></label>
          <input class="login-page-rectangle410" type="email" name="email" title="email" required/>
          <label><span class="login-page-text65"><span>Password</span></span></label>
          <input class="login-page-rectangle411" type="password" name="password" title="password" required/>

              <div class="login-page-b-t-n22">
            <button type="submit" onclick="pop()" href="{{ url_for('homepage') }}">
                <img src="../static/playground_assets/rectangle251401-haic-200h.png" alt="Rectangle251401"
                  class="login-page-rectangle253" />
                <img src="../static/playground_assets/rectangle261401-46or-200h.png" alt="Rectangle261401"
                  class="login-page-rectangle262" />
                <span class="login-page-text71"><span>Sign Up</span></span>
            </button>
          </div>
        </form>
        <img src="../static/playground_assets/phonesgroup11401-z3c-300h.png" alt="phonesgroup11401"
          class="login-page-phonesgroup1" />
      </div>
    </div>
  </div>
</body>

</html>